:root {
  --merah-gelap: #A20000;
  --secondary-color: #c45858;
}

body {
  margin: 0;
  font-family: "Poppins", serif;
  color: #27303E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-merah-gelap {
  background-color: var(--merah-gelap);
}

.notif-hover:hover {
  background-color: #3af;
  transition: 0.3s;
}

.notif-hover {
  cursor: pointer;
}

.notif-hover:hover path{
  stroke: #fff;
}